<div class="laptop-item">
    <img src="{{image}}" alt="{{model}}">
    <p><strong>Brand:</strong> {{brand}}</p>
    <p><strong>Model:</strong> {{model}}</p>
    <a href="/catalog/{{_id}}/details" class="btn">View Details</a>
</div>