<section id="search">
    <h1>Search</h1>
    <form action="/search" method="POST" class="form">
        <input type="text" class="search" name="title" value="{{filter.title}}" placeholder="Title..." />
        <input type="text" name="genre" class="genre" value="{{filter.genre}}" placeholder="Genre..." />
        <input type="number" name="year" class="year" value="{{filter.year}}" placeholder="Year..." />
        <input type="submit" value="search" />
    </form>
</section>

<section id="catalog">
    <div class="band">
        {{#each movies}}
            <div class="flip flip-vertical">
                <div class="front">
                    <img src="{{imageUrl}}" alt="{{title}}" />
                </div>
                <div class="back">
                    <h1>{{title}}</h1>
                    <h2>Genre: {{genre}}</h2>
                    <p>Description: {{description}}</p>
                    <a href="/movies/{{id}}/details" class="details">Details</a>
                </div>
            </div>
            {{else}}
                <div class="no-posts">
                    <p class="no-offer">There are no movies matched...</p>
                </div>
        {{/each}}
    </div>
</section>