<section class="catalog-hero">
    <div class="container">
        <h2>Product Catalog</h2>
        <p>Explore our extensive range of laptops, desktops, and accessories.</p>
    </div>
</section>

<section class="catalog">
    <div class="container">
        <div class="product-grid">
            {{#each data}}
                <div class="product-item">
                    <img src="{{image}}">
                    <h3>{{brand}} {{model}}</h3>
                    <p>${{price}}</p>
                    <p>CPU: {{cpu}}</p>
                    <p>GPU: {{gpu}}</p>
                    <p>Screen: {{screenSize}} inch</p>
                    <a href="/catalog/{{_id}}/details" class="btn">View Details</a>
                </div>

                {{else}}
                    <p class="no-post">There haven't been any devices posted yet.</p>
            {{/each}}
        </div>
    </div>
</section>