<section class="details-hero">
    <div class="container">
        <h2>Laptop Details</h2>
    </div>
</section>

<section class="details-content">
    <div class="container">
        <div class="product-details">
            <div class="product-image">
                <img src="{{productData.image}}" alt="{{productData.model}}">
            </div>
            <div class="product-info">
                <h3>Brand: {{productData.brand}}</h3>
                <p><strong>Model:</strong> {{productData.model}}</p>
                <p><strong>Hard Disk:</strong> {{productData.hardDisk}}</p>
                <p><strong>Screen Size:</strong> {{productData.screenSize}} inches</p>
                <p><strong>RAM:</strong> {{productData.ram}}</p>
                <p><strong>Operating System:</strong> {{productData.operatingSystem}}</p>
                <p><strong>CPU:</strong> {{productData.cpu}}</p>
                <p><strong>GPU:</strong> {{productData.gpu}}</p>
                <p><strong>Price:</strong> ${{productData.price}}</p>
                <p><strong>Color:</strong> {{productData.color}}</p>
                <p><strong>Weight:</strong> {{productData.weight}}</p>
            </div>
        </div>
        {{#if isSignedIn}}
            <div class="product-actions">
                {{#if isOwner}}
                        <button class="btn edit"><a href="/catalog/{{productData._id}}/edit">Edit</a></button>
                        <button class="btn delete"><a href="/catalog/{{productData._id}}/delete">Delete</a></button>

                        {{else}}
                            {{#if hasRecommended}}
                                <p class="prefer-message">You've already preferred this device</p>

                                {{else}}
                                    <button class="btn prefer"><a href="/catalog/{{productData._id}}/recommend">Prefer</a></button>
                            {{/if}}
                    {{/if}}
                </div>
            {{/if}}
    </div>
</section>